<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productList ANY>
<!ATTLIST productList id ID #REQUIRED>
<!ELEMENT cartStep ANY>
<!ATTLIST cartStep id ID #REQUIRED>
<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
<!ELEMENT cart ANY>
<!ATTLIST cart id ID #REQUIRED>
<!ELEMENT variant ANY>
<!ATTLIST variant id ID #REQUIRED>
<!ELEMENT attributes ANY>
<!ATTLIST attributes id ID #REQUIRED>
<!ELEMENT attributeGroup ANY>
<!ATTLIST attributeGroup id ID #REQUIRED>
<!ELEMENT attribute ANY>
<!ATTLIST attribute id ID #REQUIRED>
]>
<root id="-1">
  <frontpage id="1068" key="1d1aa3c1-be92-4b6a-b9d3-316989078df2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-16T11:10:06" updateDate="2017-10-19T14:15:22" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1067" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1066" nodeTypeAlias="frontpage">
    <slider><![CDATA[umb://media/e09ab7a3940f473499f1ede840e226fd,umb://media/e294bb632b904a549aeddef01eacdbe3,umb://media/80c5ac4af617472eb199ad57929b8cf0,umb://media/5af76cc49ce34339a7f877ba5eb297dd]]></slider>
    <store>1</store>
    <featuredProducts><![CDATA[umb://document/fc7ad11cfcff4962972467a398bc63a6,umb://document/835843450a654755b71e208e8cfbf0ca,umb://document/d39edfd13e6e42f29e3389a911442986,umb://document/584fd82a7ff14019b0d61e0e493ac139]]></featuredProducts>
    <cart id="1081" key="ac2538f3-12cc-4321-83cf-fb7553188138" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2015-01-16T11:33:34" updateDate="2017-10-19T14:15:22" nodeName="Cart content" urlName="cart-content" path="-1,1068,1081" isDoc="" nodeType="1080" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1056" nodeTypeAlias="cart">
      <cartStep id="1083" key="465a5122-633d-4a43-a2c4-8a1ea7207ab4" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2015-01-16T11:35:03" updateDate="2017-10-19T14:15:22" nodeName="Information" urlName="information" path="-1,1068,1081,1083" isDoc="" nodeType="1057" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1058" nodeTypeAlias="cartStep" />
      <cartStep id="1084" key="f8e3371d-eea6-4094-8b92-d4d751262cc9" parentID="1081" level="3" creatorID="0" sortOrder="1" createDate="2015-01-16T11:38:02" updateDate="2017-10-19T14:15:22" nodeName="Shipping/Payment" urlName="shippingpayment" path="-1,1068,1081,1084" isDoc="" nodeType="1057" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1060" nodeTypeAlias="cartStep" />
      <cartStep id="1085" key="b702cd44-655c-4ef8-9148-dff9d0d6e77b" parentID="1081" level="3" creatorID="0" sortOrder="2" createDate="2015-01-16T11:38:14" updateDate="2017-10-19T14:15:22" nodeName="Accept" urlName="accept" path="-1,1068,1081,1085" isDoc="" nodeType="1057" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1062" nodeTypeAlias="cartStep" />
      <cartStep id="1106" key="d189ef2e-deee-4de7-a007-3c49ad5a23e1" parentID="1081" level="3" creatorID="0" sortOrder="3" createDate="2015-03-06T11:43:19" updateDate="2017-10-19T14:15:22" nodeName="Payment" urlName="payment" path="-1,1068,1081,1106" isDoc="" nodeType="1057" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1056" nodeTypeAlias="cartStep" />
      <cartStep id="1086" key="011e905a-2676-4429-902a-ee64db3d53f9" parentID="1081" level="3" creatorID="0" sortOrder="4" createDate="2015-01-16T11:38:27" updateDate="2017-10-19T14:15:22" nodeName="Confirmation" urlName="confirmation" path="-1,1068,1081,1086" isDoc="" nodeType="1057" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1064" nodeTypeAlias="cartStep" />
    </cart>
    <productList id="1069" key="c3f554d1-1a3f-4b20-8cb4-85ccf0c58e30" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-01-16T11:16:08" updateDate="2017-10-19T14:15:22" nodeName="Expensive Yachts" urlName="expensive-yachts" path="-1,1068,1069" isDoc="" nodeType="1055" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1054" nodeTypeAlias="productList">
      <product id="1071" key="fc7ad11c-fcff-4962-9724-67a398bc63a6" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2015-01-16T11:18:10" updateDate="2017-10-19T14:15:22" nodeName="Summer Yacht" urlName="summer-yacht" path="-1,1068,1069,1071" isDoc="" nodeType="1051" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1050" nodeTypeAlias="product">
        <image><![CDATA[umb://media/80c5ac4af617472eb199ad57929b8cf0]]></image>
        <sku><![CDATA[p0001]]></sku>
        <productName><![CDATA[Summer Yacht]]></productName>
        <description><![CDATA[<p>This is the product description.</p>]]></description>
        <priceJMD><![CDATA[500]]></priceJMD>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1096": true,
    "1097": true,
    "1099": true,
    "1102": true,
    "1106": true,
    "1109": true,
    "1113": true,
    "1126": true,
    "1127": true
  }
}]]></variants>
      </product>
      <product id="1072" key="d39edfd1-3e6e-42f2-9e33-89a911442986" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2015-01-16T11:18:20" updateDate="2017-10-19T14:15:22" nodeName="Yacht with sails" urlName="yacht-with-sails" path="-1,1068,1069,1072" isDoc="" nodeType="1051" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1050" nodeTypeAlias="product">
        <image><![CDATA[umb://media/e294bb632b904a549aeddef01eacdbe3]]></image>
        <sku><![CDATA[p0002]]></sku>
        <productName><![CDATA[Yacht with sails]]></productName>
        <description><![CDATA[<p>This is the product description.</p>]]></description>
        <priceJMD><![CDATA[60]]></priceJMD>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1096": true,
    "1097": true,
    "1099": true,
    "1102": true,
    "1106": true,
    "1109": true,
    "1113": true,
    "1126": true,
    "1127": true
  }
}]]></variants>
      </product>
    </productList>
    <productList id="1070" key="8ca08a3d-1aff-4545-833b-bc248c68df81" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2015-01-16T11:16:17" updateDate="2017-10-19T14:15:22" nodeName="Very expensive Yachts" urlName="very-expensive-yachts" path="-1,1068,1070" isDoc="" nodeType="1055" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1054" nodeTypeAlias="productList">
      <product id="1073" key="83584345-0a65-4755-b71e-208e8cfbf0ca" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2015-01-16T11:18:31" updateDate="2020-09-01T10:06:39" nodeName="Motor driven Yacht" urlName="motor-driven-yacht" path="-1,1068,1070,1073" isDoc="" nodeType="1051" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1050" nodeTypeAlias="product" isPublished="true">
        <image><![CDATA[umb://media/5af76cc49ce34339a7f877ba5eb297dd]]></image>
        <sku><![CDATA[p0003]]></sku>
        <productName><![CDATA[Motor driven Yacht]]></productName>
        <description><![CDATA[<p>This is the product description.</p>]]></description>
        <priceJMD><![CDATA[80]]></priceJMD>
        <variants><![CDATA[{
  "variants": [
    {
      "id": "c4e66ad3-7537-3b7e-4710-ff64f0ce870f",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "TEST",
        "sku": "TST2",
        "priceJMD": "1200"
      },
      "combination": [
        {
          "name": "Large",
          "id": 1168,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "1cf8db4b-fd2c-fc70-3523-8b68d0e3d4ce",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "test2",
        "sku": "TST",
        "priceJMD": "1350"
      },
      "combination": [
        {
          "name": "Medium",
          "id": 1169,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "1096": true,
    "1097": true,
    "1099": true,
    "1102": true,
    "1106": true,
    "1109": true,
    "1113": true,
    "1126": true,
    "1127": true
  }
}]]></variants>
      </product>
      <product id="1074" key="584fd82a-7ff1-4019-b0d6-1e0e493ac139" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2015-01-16T11:18:40" updateDate="2017-10-19T14:15:22" nodeName="One masted yacht" urlName="one-masted-yacht" path="-1,1068,1070,1074" isDoc="" nodeType="1051" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="1050" nodeTypeAlias="product">
        <image><![CDATA[umb://media/e09ab7a3940f473499f1ede840e226fd]]></image>
        <sku><![CDATA[p0004]]></sku>
        <productName><![CDATA[One masted yacht]]></productName>
        <description><![CDATA[<p>This is the product description.</p>]]></description>
        <priceJMD><![CDATA[2342.2]]></priceJMD>
        <variants><![CDATA[{
  "variants": [
    {
      "id": "2001e6a4-594c-1f57-0012-40b238a0c2c6",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1001"
      },
      "combination": [
        {
          "name": "Black",
          "id": 1164,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Large",
          "id": 1168,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "85e8eb5e-b6d4-0674-730a-f288b11beeae",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1002"
      },
      "combination": [
        {
          "name": "Black",
          "id": 1164,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Medium",
          "id": 1169,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "af0230bf-dae9-1f50-cb21-3468a054e597",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1003"
      },
      "combination": [
        {
          "name": "Black",
          "id": 1164,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Small",
          "id": 1170,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "ad47777e-0e4f-7caf-18aa-ef69ce530a39",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1004"
      },
      "combination": [
        {
          "name": "White",
          "id": 1165,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Large",
          "id": 1168,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "5f714e67-f936-42a9-1a98-ee7f41c3e5b5",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1005"
      },
      "combination": [
        {
          "name": "White",
          "id": 1165,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Medium",
          "id": 1169,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "ee0c0882-d589-dbfd-3ccf-db1069268b88",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1006"
      },
      "combination": [
        {
          "name": "White",
          "id": 1165,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Small",
          "id": 1170,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "95bb6a66-a91f-7611-2edf-af117f375741",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1007"
      },
      "combination": [
        {
          "name": "Blue",
          "id": 1166,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Large",
          "id": 1168,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "4378c465-0863-1893-6618-ff8579d5b575",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1008"
      },
      "combination": [
        {
          "name": "Blue",
          "id": 1166,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Medium",
          "id": 1169,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    },
    {
      "id": "cc14960c-eb9d-0f19-2322-0b9073109af2",
      "documentTypeAlias": "Variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {
        "stock": "",
        "productName": "",
        "sku": "",
        "priceJMD": "1009"
      },
      "combination": [
        {
          "name": "Blue",
          "id": 1166,
          "groupName": "Color",
          "groupId": 1163
        },
        {
          "name": "Small",
          "id": 1170,
          "groupName": "Size",
          "groupId": 1167
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "1096": true,
    "1097": true,
    "1099": true,
    "1102": true,
    "1106": true,
    "1109": true,
    "1113": true,
    "1126": true,
    "1127": true,
    "1163": true,
    "1167": true
  }
}]]></variants>
      </product>
    </productList>
    <attributes id="1162" key="4aa261c3-8c00-448e-82e1-8b7b64fd687e" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2016-08-29T15:44:12" updateDate="2017-10-19T14:15:22" nodeName="Variant attributes" urlName="variant-attributes" path="-1,1068,1162" isDoc="" nodeType="1159" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attributes">
      <attributeGroup id="1163" key="c6406c41-7f62-4b88-9200-fee86422ba44" parentID="1162" level="3" creatorID="0" sortOrder="0" createDate="2016-08-29T15:44:28" updateDate="2017-10-19T14:15:22" nodeName="Color" urlName="color" path="-1,1068,1162,1163" isDoc="" nodeType="1160" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attributeGroup">
        <attribute id="1164" key="db447a75-2845-4676-925e-477402f4e914" parentID="1163" level="4" creatorID="0" sortOrder="0" createDate="2016-08-29T15:44:37" updateDate="2017-10-19T14:15:22" nodeName="Black" urlName="black" path="-1,1068,1162,1163,1164" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
        <attribute id="1165" key="67272ed0-c5b9-4696-b762-8a7409f30670" parentID="1163" level="4" creatorID="0" sortOrder="1" createDate="2016-08-29T15:44:44" updateDate="2017-10-19T14:15:22" nodeName="White" urlName="white" path="-1,1068,1162,1163,1165" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
        <attribute id="1166" key="96396335-47b0-489e-9eb4-0578792e5690" parentID="1163" level="4" creatorID="0" sortOrder="2" createDate="2016-08-29T15:44:54" updateDate="2017-10-19T14:15:22" nodeName="Blue" urlName="blue" path="-1,1068,1162,1163,1166" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
      </attributeGroup>
      <attributeGroup id="1167" key="5b6dd3ac-003c-41e6-8447-40ec7b707cd4" parentID="1162" level="3" creatorID="0" sortOrder="1" createDate="2016-08-29T15:45:05" updateDate="2017-10-19T14:15:22" nodeName="Size" urlName="size" path="-1,1068,1162,1167" isDoc="" nodeType="1160" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attributeGroup">
        <attribute id="1168" key="7a1f734a-ebf1-4366-a07f-ef34125b3b3d" parentID="1167" level="4" creatorID="0" sortOrder="0" createDate="2016-08-29T15:45:18" updateDate="2017-10-19T14:15:22" nodeName="Large" urlName="large" path="-1,1068,1162,1167,1168" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
        <attribute id="1169" key="94fe97f9-95d1-4e56-b061-3e3102835cf5" parentID="1167" level="4" creatorID="0" sortOrder="1" createDate="2016-08-29T15:45:26" updateDate="2017-10-19T14:15:22" nodeName="Medium" urlName="medium" path="-1,1068,1162,1167,1169" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
        <attribute id="1170" key="3a7c742c-3ef0-46b0-a8bc-bd6058469d08" parentID="1167" level="4" creatorID="0" sortOrder="2" createDate="2016-08-29T15:45:34" updateDate="2017-10-19T14:15:22" nodeName="Small" urlName="small" path="-1,1068,1162,1167,1170" isDoc="" nodeType="1161" creatorName="Tea Commerce" writerName="Tea Commerce" writerID="0" template="0" nodeTypeAlias="attribute" />
      </attributeGroup>
    </attributes>
  </frontpage>
</root>