@using umbraco.MacroEngines
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";

  IPublishedContent currentPage = Model.Content;

  string name = currentPage.GetPropertyValue<string>( "name" );
  string sku = currentPage.GetPropertyValue<string>( "SKU" );
  HtmlString description = new HtmlString( currentPage.GetPropertyValue<string>( "description" ) );

  int imageId = currentPage.GetPropertyValue<int>( "image" );

  IPublishedContent image = null;

  if ( imageId != 0 ) {
    image = Umbraco.TypedMedia( currentPage.GetPropertyValue<int>( "image" ) );
  }
  
}
<div class="row">
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6 product">
    <h1>@name</h1>
    @if ( image != null ) {
      <div class="image">
        <img src="@image.Url?width=200"/>
      </div>
    }

    <div class="description">
      @Html.Raw( description )
    </div>
    <form method="post" action="/base/TC/FormPost.aspx" class="ajaxForm">
      <input name="AddOrUpdateOrderLine" value="productIdentifier, quantity" type="hidden" />
      <input name="storeId" value="1" type="hidden" />
      <input name="productIdentifier" value="@currentPage.Id" type="hidden" />
      <input name="quantity" value="1" type="text" />
      <input value="Add to basket" type="submit" />
    </form>
  </div>
</div>
